@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Light-webfont.woff") format("woff"),url("/fonts/OpenSans-Light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Semibold-webfont.woff") format("woff"),url("/fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-LightItalic-webfont.woff") format("woff"),url("/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Regular-webfont.woff") format("woff"),url("/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Bold-webfont.woff") format("woff"),url("/fonts/OpenSans-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Italic-webfont.woff") format("woff"),url("/fonts/OpenSans-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    border-top: 2px solid #FFF;
    background: #1E1E21;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Light", X-LocaleSpecific-Light, "Open Sans", X-LocaleSpecific, sans-serif;
    font-weight: normal;
    display: block;
    margin: 0px 0px 12px;
    line-height: 1;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: #484848;
    letter-spacing: -0.035em;
}

h1 {
    font-size:48px;
    font-size:3rem;
}

h2 {
    font-size:32px;
    font-size:2rem;
}

h3 {
    font-size:28px;
    font-size:1.75rem;
}

h4 {
    font-size:24px;
    font-size:1.5rem;
}

h5 {
    font-size:16px;
    font-size:1rem;
}

h6 {
    font-size:14px;
    font-size:.875rem;
}

img {
    max-width: 100%;
}

.totalv {
    min-height: 100vh;
}

.ptop {
    padding-top: 80px;
}

#masthead {
    text-align: center;
    background: url(/img/bg.jpg);
    background-size: cover;
    padding-top: 50px;
}

#masthead h1 {
    color: #FFF;
    text-shadow: none;
}

#masthead .mozilla img {
    max-width: 50%;
}

.container {
    position: relative;
    max-width: 960px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.schedule .item {
    background: #FFF;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 2px #000;
}

.schedule .item .time {
    font-family: "Open Sans Light";
    background: #1A1A1A;
    padding: 5px 30px 5px 30px;
    color: #FFF;
    position: relative;
    top: -15px;
    margin-left: -20px;
}

.schedule .item .thumb {
    background: #1E1E21;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0 0 2px #CCC;
    float:left;
    display: block;
    margin-right: 20px;
}

.schedule .item .author {
    font-family: "Open Sans";
    color: #585858;
}

.schedule .item h4 {
    margin-top: 20px;
}

.schedule .item {
    min-height: 130px;
}

.schedule .item p {
    font-family: "Open Sans";
    color: rgb(40,40,40);
    font-size: 0.9em;
    line-height: 1.6em;
}

#masthead h2 {
    color: #A2B4C7;
    text-shadow: none;
}

#schedule {
    background: #123251;
    margin-top: -50px;
}

#talks h1, #workshops h1 {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

@media (min-width: 600px) {
    #schedule #talks, #schedule #workshops {
        width: 45%;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}
                                        
@media (max-width: 600px) {
    #schedule #workshops {
        margin-top: 40px;
    }
}

#schedule .item:before {
    content: " ";
    padding: 30px 20px;
    float: right;
    transform: rotate(-45.0deg);
    position: relative;
    right: -34px;
    top: -43px;
    background: #123251;
}

#masthead {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1000px) {
    #masthead .foxy {
        width: 50%;
        float: right;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    #masthead .foxy {
        width: 75%;
        float: right;
    }
}

@media (max-width: 600px) {
    #masthead .foxy {
        width: 100%;
    }
}

#masthead .foxy img {
    max-width: 80%;
    margin-top: 40px;
}
                
