@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Light-webfont.woff") format("woff"),url("/fonts/OpenSans-Light-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Semibold-webfont.woff") format("woff"),url("/fonts/OpenSans-Semibold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Light";
    src:url("/fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-LightItalic-webfont.woff") format("woff"),url("/fonts/OpenSans-LightItalic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Regular-webfont.woff") format("woff"),url("/fonts/OpenSans-Regular-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Bold-webfont.woff") format("woff"),url("/fonts/OpenSans-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src:url("/fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"),url("/fonts/OpenSans-Italic-webfont.woff") format("woff"),url("/fonts/OpenSans-Italic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    border-top: 2px solid #FFF;
    background: #1E1E21;
    font-family: "Open Sans Light";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Light", X-LocaleSpecific-Light, "Open Sans", X-LocaleSpecific, sans-serif;
    font-weight: normal;
    display: block;
    margin: 0px 0px 12px;
    line-height: 1;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: #484848;
    letter-spacing: -0.035em;
}

h1 {
    font-size:48px;
    font-size:3rem;
}

h2 {
    font-size:32px;
    font-size:2rem;
}

h3 {
    font-size:28px;
    font-size:1.75rem;
}

h4 {
    font-size:24px;
    font-size:1.5rem;
}

h5 {
    font-size:16px;
    font-size:1rem;
}

h6 {
    font-size:14px;
    font-size:.875rem;
}

img {
    max-width: 100%;
}

.totalv {
    min-height: 100vh;
}

.ptop {
    padding-top: 80px;
}

#masthead {
    text-align: center;
    background: url(/img/foxy.png), url(/img/bg.jpg);
    background-size: auto, cover;
    background-repeat: no-repeat;
    background-position: bottom 80px right 20px, center;
    padding-top: 50px;
}

#masthead h1 {
    color: #FFF;
    text-shadow: none;
}

@media (min-width: 768px) {

    #masthead .mozilla img {
        max-width: 35%;
    }

}

@media (min-width: 500px) and (max-width: 768px) {

    #masthead .mozilla img {
        max-width: 50%;
    }

    #webvr .intra{
      width: 90%;
    }

}

@media (max-width: 500px){

    #masthead .mozilla img {
        max-width: 80%;
    }

}

.container {
    position: relative;
    max-width: 960px;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.mcontainer {
    margin-left: 40px;
    margin-right: 40px;
}

.schedule .item {
    background: #FFF;
    margin-top: 40px;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 2px #000;
}

.schedule .item .time {
    font-family: "Open Sans Light";
    background: #1A1A1A;
    padding: 5px 30px 5px 30px;
    color: #FFF;
    position: relative;
    top: -15px;
    margin-left: -20px;
}

.schedule .item .thumb {
    background: #1E1E21;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0 0 2px #CCC;
    float:left;
    display: block;
    margin-right: 20px;
}

.schedule .item .author {
    font-family: "Open Sans";
    color: #585858;
}

.schedule .item h4 {
    margin-top: 20px;
}

.schedule .item {
    min-height: 130px;
}

.schedule .item p {
    font-family: "Open Sans";
    color: rgb(40,40,40);
    font-size: 0.9em;
    line-height: 1.6em;
}

#masthead h2 {
    color: #A2B4C7;
    text-shadow: none;
}

#schedule {
    background: #123251;
    margin-top: -50px;
    box-shadow: 0 -1px 25px #1A1A1A;
}

#talks h1, #workshops h1 {
    color: #FFF;
    text-shadow: none;
    text-align: center;
}

@media (min-width: 600px) {
    #schedule #talks, #schedule #workshops {
        width: 45%;
        float: left;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media (max-width: 600px) {
    #schedule #workshops {
        margin-top: 40px;
    }
}

#schedule .item:before {
    content: " ";
    padding: 30px 20px;
    float: right;
    transform: rotate(-45.0deg);
    position: relative;
    right: -34px;
    top: -43px;
    background: #123251;
}

#masthead {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1000px) {
    #masthead .foxy {
        width: 50%;
        float: right;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    #masthead .foxy {
        width: 75%;
        float: right;
    }
}

@media (max-width: 600px) {
    #masthead .foxy {
        width: 100%;
    }
}

#masthead .foxy img {
    max-width: 80%;
    margin-top: 40px;
}

#staff .item img {
    height: 135px;
    float: left;
    background: #1E1E21;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-left: -10px;
}

#staff .item {
    width: 33.33%;
    float: left;
    position: relative;
}

#webvr{
  color: #fff;
}

#webvr .intra{
  width: 45%;
  padding: 2.5%;
  float: left;
}

#webvr ul{
  margin: 0;
  padding: 0;
}

#webvr ul li{
  list-style: none;
  font-size: 20px;
  padding: 10px 5px;
  border-bottom: 1px dashed #A2B4C7;
}

#webvr ul li label{
  font-weight: bold;
}

#webvr ul li input[name="step"] + dl{
	display: none;
}

#webvr ul li input:checked + dl{
	display: block;
}

#webvr ul li dd{
  margin-left: 10px;
}

#webvr a{
  color: #A2B4C7;
}

#staff .item .content {
    background: #FFF;
    margin: 10px;
    border: 5px solid #1A1A1A;
}

#staff h1 {
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: none;
}

#staff .item .content{
    padding: 10px;
    height: 115px;
}

#staff .item h2 {
    text-align: center;
}

#staff .item .content .links {
    position: absolute;
    bottom: 10px;
    right: 20px;
    left: 155px;
}

#staff .item p {
    font-family: "Open Sans Light";
}

#staff .item .links {
    list-style: none;
    padding-left: 0;
    text-align: right;
}

#staff .item .links li {
    display: inline;
    transition: 0.5s;
    background: #1A1A1A;
    padding: 15px 10px 10px 10px;
}

#staff .item .links a {
    color: #FFF;
    font-size: 1.5em;
}

#staff .item .links li:hover {
    background: #123251;
    transition: 0.5s;
}

#workshops {
    padding-bottom: 50px;
}


#newsletter a {
    color: #FFF;
    text-decoration: none;
    font-family: "Open Sans";
    border: 2px solid #FFF;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    transition: 0.5s;
}

#newsletter a:hover, #newsletter a:focus, #newsletter a:active {
    color: #000;
    border: 2px solid #000;
    transition: 0.5s;
}

@media (min-width: 850px) {
    #staff .item {
        width: 33.33%;
    }
}

@media (min-width: 675px) and (max-width: 850px) {
    #staff .item {
        width: 50%;
    }
}

@media (max-width: 675px) {
    #staff .item {
        width: 100%;
    }
}
